@use "./scss/variables.scss" as var;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Figtree", serif;
  background-color: var.$semantic-background-alternative;
}

.modal-container{
  width: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: var.$semantic-default-medium;
  border-radius: 1em;
  padding: 2em;
  background-color: var.$semantic-background-default;
  box-shadow: var.$semantic-shadow-high-emphasis;

  h3{
    font: var.$font-scale-subtitles-s;
    color: var.$semantic-text-primary;
    box-sizing: border-box;
  }

  p{
    font: var.$font-scale-paragraph-normal-l;
    color: var.$semantic-text-secondary;
    text-align: center;
  }

  .cta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    .button-primary{
      height: 32px;
      padding: 0.5em 1em;
      background-color: gray;
    }
    .button-secondary{
      height: 32px;
      padding: 0.5em 1em;
      background-color: gray;
    }

  }

}
